#myphoto{
  max-height: 97.7vh;
  width: 100vw;
  /* opacity: 0.8; */
  position: relative;
  object-fit: cover;
  object-position: center;
  /* filter: grayscale(50%); */
}
.text {
  margin-top: 300px;
  /* background-color: rgba(0, 0, 0, 0.4); */
  color: white;
  font-weight: bold;
  position: absolute;
  transform: translate(-5%, -25%);
  z-index: 2;
  width: 600px;
  height: 400px;
  padding: 20px;
  text-align: center;
  
}

.photo{
  height: 98vh;
  width: 99vw;
  opacity: 0.3;
  position: relative;
  object-fit: cover;
}
.texts{
  position: absolute;
  top: 30%;
  left: 100%;
  transform: translate(-50%,-50%);
  margin-top: 20px;
  color: white;
}

#content {
  height: 850px; 
  width: 900px;  
  border-radius: 60px;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 850px;
  border-color: transparent;
}

#recipeInput{
  border: solid 2px;
  border-radius: 20px;
  background-color: rgba(68, 57, 57, 0.4);
  color: white;
  border-color: transparent;
  align-self: center;
  font-size: x-large;
  font-weight: bolder;
}

#recipe{
  padding-top: 20px;
  font-size: 40px;
  margin-top: 60%;
  width: 500px;
  font-family: monospace;
  text-align: center;
  color: rgb(59, 51, 59);
  font-weight: 950;

}
button {
  border-radius: 30px;
  font-size: 25px;
  margin-top: 30px;
  text-align: center;
  background-color: rgb(149, 35, 35);
  color: white;
  border: none;
  padding: 15px 10px;
  width: 40%;
  font-family: monospace;
  font-weight: 600;
  align-self: center;
  margin-left: 0px;
}
::placeholder {
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: bolder;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
th {
  background-color: rgb(149, 35, 35);
  
  /* background-color: rgba(0, 0, 0, 0.4); */

}
#result {
  flex: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 5%;
  width: 180%;
  height: 300px;
  border-radius: 50px;
  margin-top: 0px;
  padding: 10px 60px 100px;
  margin-left: -250px;
  
}
h2 , h3{
  font-weight: bolder;
  font-size: 30px;
}
#calculateButton{
   margin-bottom: 20px;
  margin-left: 200px;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.text span {
  color: orange;
  margin-top: 0px;
}

.text p {
  font-size: xx-large;
  color: white;
  font-weight: bolder;
  margin-top: 0px;

}

tr{
    color: black;
}

.logo {
    margin-right: 200px;
    margin-top: -35px;

  
}




a{
    text-decoration: none;
    color: white;
    align-self: center;

}





@media screen and (min-width:280px) and (max-width:480px){

  .photo{
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.3;
    position: relative;
    object-fit: cover;
    margin-left: 150px;
  }

  
  .texts{
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%,-50%);
    margin-top: 20px;
    color: white;
  }
  
  #content {
     height: 550px; 
     width: 300px;  
    border-radius: 60px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 850px;
    border-color: transparent;
  }
  
  
  #recipeInput{
    border: solid 2px;
    border-radius: 20px;
    background-color: rgba(68, 57, 57, 0.4);
    color: white;
    border-color: transparent;
    align-self: center;
    font-size: large;
    font-weight: bolder;
    width: 120%;
    margin-left: -747px;
  }
  
  #recipe{
    padding-top: 15px;
    font-size: 23px;
    margin-top: 60%;
    width: 300px;
    font-family: monospace;
    text-align: center;
    color: rgb(59, 51, 59);
    font-weight: 950;
  }
  button {
    border-radius: 30px;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(149, 35, 35);
    color: white;
    border: none;
    padding: 15px 10px;
    width: 40%;
    font-family: monospace;
    font-weight: 600;
    align-self: center;
    margin-left: 0px;
  }
  ::placeholder {
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bolder;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  th {
    background-color: rgb(149, 35, 35);
    
    /* background-color: rgba(0, 0, 0, 0.4); */
  
  }
  #result {
    flex: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 5%;
    width: 80%;
    height: 100px;
    border-radius: 50px;
    margin-top: 0px;
    padding: 10px 60px 100px;
    margin-left: -755px;
    
  }
  h2 , h3{
    font-weight: bolder;
    font-size: 30px;
  }
  #calculateButton{
     margin-bottom: 20px;
    margin-left: -650px;
    width: 160px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  .text span {
    color: #0f0a01;
    margin-top: 0px;
  }
  
  .text p {
    font-size: large;
    color: rgb(149, 35, 35);
    font-weight: bolder;
    margin-top: 0px;
  
  }
  .text {
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    transform: translate(-5%, -25%);
    z-index: 2;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: center;
    margin-left: 35px;
  }
  tr{
      color: black;
  }
  
  .logo {
      margin-right: 200px;
      margin-top: -35px;
  
    
  }
  
  
  
  
  a{
      text-decoration: none;
      color: white;
      align-self: center;
  
  }

  #btn{
    width: 220px;
    height: 60px;
    /* margin-top: 300px; */
   text-align: center;
   margin-left: 8px;
   margin-top: 100px;   
}


}



@media screen and (min-width:481px) and (max-width:680px){

  .photo{
    height: 97vh;
    width: 99vw;
    opacity: 0.3;
    position: relative;
    object-fit: cover;
  }
  
  .texts{
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%,-50%);
    margin-top: 20px;
    color: white;
  }
  
  #content {
     height: 850px; 
     width: 900px;  
    border-radius: 60px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 850px;
    border-color: transparent;
  }
  
  #recipeInput{
    border: solid 2px;
    border-radius: 20px;
    background-color: rgba(68, 57, 57, 0.4);
    color: white;
    border-color: transparent;
    align-self: center;
    font-size: x-large;
    font-weight: bolder;
  }
  
  #recipe{
    padding-top: 20px;
    font-size: 40px;
    margin-top: 60%;
    width: 500px;
    font-family: monospace;
    text-align: center;
    color: rgb(59, 51, 59);
    font-weight: 950;
  
  }
  #button {
    border-radius: 30px;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(149, 35, 35);
    color: white;
    border: none;
    padding: 15px 10px;
    width: 40%;
    font-family: monospace;
    font-weight: 600;
    align-self: center;
    margin-left: 0px;
  }
  ::placeholder {
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bolder;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  th {
    background-color: rgb(149, 35, 35);
    
    /* background-color: rgba(0, 0, 0, 0.4); */
  
  }
  #result {
    flex: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 5%;
    width: 180%;
    height: 300px;
    border-radius: 50px;
    margin-top: 0px;
    padding: 10px 60px 100px;
    margin-left: -250px;
    
  }
  h2 , h3{
    font-weight: bolder;
    font-size: 30px;
  }
  #calculateButton{
     margin-bottom: 20px;
    margin-left: 200px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  .text span {
    color: #0f0a01;
    margin-top: 0px;
  }
  
  .text p {
    font-size: large;
    color: rgb(149, 35, 35);
    font-weight: bolder;
    margin-top: 0px;
  
  }
  .text {
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    transform: translate(-5%, -25%);
    z-index: 2;
    width: 300px;
    height: 200px;
    padding: 20px;
    text-align: center;
    
  }
  tr{
      color: black;
  }
  
  .logo {
      margin-right: 200px;
      margin-top: -35px;
  
    
  }
  
  
  
  
  a{
      text-decoration: none;
      color: white;
      align-self: center;
  
  }

  #btn{
    width: 220px;
    height: 60px;
    /* margin-top: 300px; */
   text-align: center;
   margin-left: 8px;
   margin-top: 150px;   
}



}


@media screen and (min-width:881px) and (max-width:1024px){

  .photo{
    height: 99vh;
    width: 99vw;
    opacity: 0.3;
    position: relative;
    object-fit: cover;
  }
  
  .texts{
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%,-50%);
    margin-top: 20px;
    color: white;

  }
  
  #content {
     height: 850px; 
     width: 900px;  
    border-radius: 60px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 850px;
    border-color: transparent;
  }
  
  #recipeInput{
    border: solid 2px;
    border-radius: 20px;
    background-color: rgba(68, 57, 57, 0.4);
    color: white;
    border-color: transparent;
    align-self: center;
    font-size: x-large;
    font-weight: bolder;
  }
  
  #recipe{
    padding-top: 20px;
    font-size: 40px;
    margin-top: 60%;
    width: 500px;
    font-family: monospace;
    text-align: center;
    color: rgb(59, 51, 59);
    font-weight: 950;
  
  }
  #button {
    border-radius: 30px;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(149, 35, 35);
    color: white;
    border: none;
    padding: 15px 10px;
    width: 40%;
    font-family: monospace;
    font-weight: 600;
    align-self: center;
    margin-left: 0px;
  }
  ::placeholder {
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bolder;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  th {
    background-color: rgb(149, 35, 35);
    
    /* background-color: rgba(0, 0, 0, 0.4); */
  
  }
  #result {
    flex: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 5%;
    width: 180%;
    height: 300px;
    border-radius: 50px;
    margin-top: 0px;
    padding: 10px 60px 100px;
    margin-left: -250px;
    
  }
  h2 , h3{
    font-weight: bolder;
    font-size: 30px;
  }
  #calculateButton{
     margin-bottom: 20px;
    margin-left: 200px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  .text span {
    color: #0f0a01;
    margin-top: 0px;
  }
  
  .text p {
    font-size: 30px;
    color: rgb(149, 35, 35);
    font-weight: bolder;
    margin-top: 50px;
  
  }
  .text {
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    transform: translate(-5%, -25%);
    z-index: 2;
    width: 500px;
    height: 450px;
    padding: 20px;
    text-align: center;
    
  }
  tr{
      color: black;
  }
  
  .logo {
      margin-right: 200px;
      margin-top: -45px;
  
    
  }
  
  
  
  
  a{
      text-decoration: none;
      color: white;
      align-self: center;
  
  }

  #btn{
    width: 250px;
    height: 60px;
    /* margin-top: 300px; */
   text-align: center;
   margin-left: 8px;
   margin-top: 50px; 
   font-size: xx-large;  
}


}



@media screen and (min-width:1025px) and (max-width:1300px){

  .photo{
    height: 94vh;
    width: 99vw;
    opacity: 0.3;
    position: relative;
    object-fit: cover;
  }
  
  .texts{
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%,-50%);
    margin-top: 20px;
    color: white;
  }
  
  #content {
     height: 850px; 
     width: 900px;  
    border-radius: 60px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 850px;
    border-color: transparent;
  }
  
  #recipeInput{
    border: solid 2px;
    border-radius: 20px;
    background-color: rgba(68, 57, 57, 0.4);
    color: white;
    border-color: transparent;
    align-self: center;
    font-size: x-large;
    font-weight: bolder;
  }
  
  #recipe{
    padding-top: 20px;
    font-size: 40px;
    margin-top: 60%;
    width: 500px;
    font-family: monospace;
    text-align: center;
    color: rgb(59, 51, 59);
    font-weight: 950;
  
  }
  #button {
    border-radius: 30px;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(149, 35, 35);
    color: white;
    border: none;
    padding: 15px 10px;
    width: 40%;
    font-family: monospace;
    font-weight: 600;
    align-self: center;
    margin-left: 0px;
  }
  ::placeholder {
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bolder;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  th {
    background-color: rgb(149, 35, 35);
    
    /* background-color: rgba(0, 0, 0, 0.4); */
  
  }
  #result {
    flex: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 5%;
    width: 180%;
    height: 300px;
    border-radius: 50px;
    margin-top: 0px;
    padding: 10px 60px 100px;
    margin-left: -250px;
    
  }
  h2 , h3{
    font-weight: bolder;
    font-size: 30px;
  }
  #calculateButton{
     margin-bottom: 20px;
    margin-left: 200px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  .text span {
    color: #0f0a01;
    margin-top: 0px;
  }
  
  .text p {
    font-size: 40px;
    color: rgb(149, 35, 35);
    font-weight: bolder;
    margin-top: 50px;
  
  }
  .text {
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    transform: translate(-5%, -25%);
    z-index: 2;
    width: 500px;
    height: 450px;
    padding: 20px;
    text-align: center;
    
  }
  tr{
      color: black;
  }
  
  .logo {
      margin-right: 200px;
      margin-top: -45px;
  
    
  }
  
  
  
  
  a{
      text-decoration: none;
      color: white;
      align-self: center;
  
  }

  #btn{
    width: 200px;
    height: 90px;
    /* margin-top: 300px; */
   text-align: center;
   margin-left: 8px;
   margin-top: 300px; 
   font-size: x-large;  
}


}


