/* body { */
  /* background-image: url("/images/pancakesandStrawberries.avif"); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  
  
/* } */
/* .background-image{
  object-fit: cover;
  overflow:auto; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 866px;
  margin-bottom: -10px;
  position: relative;
  opacity: 0.5;
} */
.photo{
  height: 98vh;
  width: 99vw;
  /* margin-top: 100px; */
  opacity: 0.3;
  position: relative;
  object-fit: cover;
  /* background-size: cover; */
}
.texts{
  position: absolute;
  top: 30%;
  left: 100%;
  transform: translate(-50%,-50%);
  margin-top: 20px;
}

#content {
  /* border-radius: 80px; */
  /* background-color: #d48e3e; */
   height: 850px; 
        width: 900px;  
  border-radius: 60px;
  /* margin-top: 1.5%; */
  position: absolute;
  z-index: 2;
  /* padding: 10px 70px; */
  /* margin: 30px 400px; */
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 850px;
  border-color: transparent;

}
/* .header {
  display: flex;
  gap: 100px;
} */
#recipeInput{
  /* margin-left: 150px; */
  border: solid 2px;
  border-radius: 20px;
  /* opacity: 0.3; */
  background-color: rgba(68, 57, 57, 0.4);
  color: white;
  border-color: transparent;
  align-self: center;
  font-size: x-large;
  font-weight: bolder;
}
#recipe{
  padding-top: 20px;
  font-size: 40px;
  margin-top: 60%;
  width: 500px;
  font-family: monospace;
  text-align: center;
  color: rgb(59, 51, 59);
  /* color: #380A14; */
  font-weight: 950;
  /* background-color: rgba(255, 253, 253, 0.4); */

}
button {
  border-radius: 30px;
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  background-color: purple;
  /* background-color: #003556; */
  color: white;
  border: none;
  padding: 15px 0px;
  width: 38%;
  /* align-self: center; */
  font-family: monospace;
  font-weight: 600;
  align-self: center;
  margin-left: 150px;
}
::placeholder {
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: bolder;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
th {
  background-color: purple;
  
  /* background-color: rgba(0, 0, 0, 0.4); */

}
#result {
  flex: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 5%;
  width: 180%;
  height: 300px;
  border-radius: 50px;
  margin-top: 0px;
  padding: 10px 60px 100px;
  margin-left: -250px;
  
}
h2 , h3{
  font-weight: bolder;
  font-size: 30px;
}
#calculateButton{
  /* margin-top: 50px; */
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.text span {
  color: #f6a224;
}

.text p {
  font-size: xx-large;
  color: white;
  font-weight: bolder;
}
.text {
  margin-top: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  position: absolute;
  transform: translate(-5%, -25%);
  z-index: 2;
  width: 400px;
  height: 200px;
  padding: 20px;
  text-align: center;
  
}
tr{
    color: black;
}

.logo {
    margin-right: 200px;
    margin-top: -35px;

  
}

/* a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  /* width: 200px; */
  /* height: 50px; */
  /* padding: 18px 10px; */
  /* background-color: #94503d; */
  /* border: none; */
  /* font-size: 20px; */
  /* border-radius: 20px; */
  /* margin-left: 800px; */
/* } */ 
#btn{
    /* justify-content: center; */
    margin-top: 600px;
    margin-left: 750px;
    
    
    
}

a{
    text-decoration: none;
    color: white;
    align-self: center;

}



@media screen and (min-width:280px) and (max-width:480px){

  body {
    background-image: url("/images/pancakesandStrawberries.avif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 650px;
    background-position: center;
    /* background-color: rgba(112, 90, 90, 0.2); */
  }
   



  
   
      #content {

        
        /* background-color: #d48e3e; */
        /* height: 850px; 
              width: 900px;  */
        border-radius: 60px;
        margin-top: 1.5%;
        position: absolute;
        z-index: 2;
        padding: 10px 70px;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 700px;
      }
      .header {
        display: flex;
        gap: 100px;
      }
      textarea {
        margin-left: 0px;
        border: solid 2px;
        border-radius: 20px;
        width: 100%;
        height: 100%;

      }
      h1 {
        font-size: 40px;
        margin-top: 6%;
      }
      button {
        border-radius: 30px;
        font-size: large;
        margin-top: 0px;
        text-align: center;
        background-color: #94503d;
        color: white;
        border: none;
        padding: 0px 0px;
        width: 200px;
        margin-top: 200px;
        height: 90px;
        align-self: center;
      }
      ::placeholder {
        text-align: center;
      }
      table {
        width: 5%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      #result {
        flex: 1;
        overflow: auto;
      }
      
      .container {
        /* display: block; */
        /* justify-content: center; */
        /* flex-direction: row; */
      }
      .text span {
        color: #f6a224;
      }
      
      .text p {
        font-size: large;
        color: white;
        font-weight: bolder;
        /* margin-left: 2px; */
      }
      .text {
        /* margin-top: 300px; */
        /* background-color: rgba(0, 0, 0, 0.4); */
        /* color: white; */
        /* font-weight: bold; */
        /* position: absolute; */
        /* transform: translate(-60%, -25%); */
        /* z-index: 2; */
        /* width: 400px; */
        /* height: 200px; */
        /* padding: 20px; */
        /* text-align: center; */
        margin-left: 50px;
        width: 80%;
      }
      #logo{
        width: 200px;
        height: 130px;
        margin-top: 50px;
        margin-left: 60px;
      }
      .logo {
        margin-top: 100px;
        margin-top: 180px;
        margin-left: 0px;
      }
      
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: start;
        width: 200px;
        height: 50px;
        padding: 0px 0px;
        background-color: #94503d;
        border: none;
        font-size:-large;
        border-radius: 20px;
        margin-left: 0px;
      } 
      #btn{
        width: 150px;
        height: 50px;
        /* margin-top: 300px; */
       text-align: center;
       margin-left: 100px; 
       margin-top: 400px;    
 }

#calculateArea{
  width: 100%;
  height: 500px;
}









@media screen and (min-width:280px) and (max-width:480px){

  body {
    background-image: url("/images/pancakesandStrawberries.avif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 650px;
    background-position: center;
    /* background-color: rgba(112, 90, 90, 0.2); */
  }
   



  
   
      #content {

        
        /* background-color: #d48e3e; */
        /* height: 850px; 
              width: 900px;  */
        border-radius: 60px;
        margin-top: 1.5%;
        position: absolute;
        z-index: 2;
        padding: 10px 70px;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 700px;
      }
      .header {
        display: flex;
        gap: 100px;
      }
      textarea {
        margin-left: 0px;
        border: solid 2px;
        border-radius: 20px;
        width: 100%;
        height: 100%;

      }
      h1 {
        font-size: 40px;
        margin-top: 6%;
      }
      button {
        border-radius: 30px;
        font-size: large;
        margin-top: 0px;
        text-align: center;
        background-color: #94503d;
        color: white;
        border: none;
        padding: 0px 0px;
        width: 200px;
        margin-top: 200px;
        height: 90px;
        align-self: center;
      }
      ::placeholder {
        text-align: center;
      }
      table {
        width: 5%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      #result {
        flex: 1;
        overflow: auto;
      }
      
      .container {
        /* display: block; */
        /* justify-content: center; */
        /* flex-direction: row; */
      }
      .text span {
        color: #f6a224;
      }
      
      .text p {
        font-size: large;
        color: white;
        font-weight: bolder;
        /* margin-left: 2px; */
      }
      .text {
        /* margin-top: 300px; */
        /* background-color: rgba(0, 0, 0, 0.4); */
        /* color: white; */
        /* font-weight: bold; */
        /* position: absolute; */
        /* transform: translate(-60%, -25%); */
        /* z-index: 2; */
        /* width: 400px; */
        /* height: 200px; */
        /* padding: 20px; */
        /* text-align: center; */
        margin-left: 50px;
        width: 80%;
      }
      #logo{
        width: 200px;
        height: 130px;
        margin-top: 50px;
        margin-left: 60px;
      }
      .logo {
        margin-top: 100px;
        margin-top: 180px;
        margin-left: 0px;
      }
      
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: start;
        width: 200px;
        height: 50px;
        padding: 0px 0px;
        background-color: #94503d;
        border: none;
        font-size:-large;
        border-radius: 20px;
        margin-left: 0px;
      } 
      #btn{
        width: 150px;
        height: 50px;
        /* margin-top: 300px; */
       text-align: center;
       margin-left: 100px; 
       margin-top: 400px;    
 }

#calculateArea{
  width: 100%;
  height: 500px;
}

}
@media screen and (min-width:481px) and (max-width:680px){
  body {
    background-image: url("/images/pancakesandStrawberries.avif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 703px;
    background-position: center;
    /* background-color: rgba(112, 90, 90, 0.2); */
  }
   



  
   
      #content {

        
        /* background-color: #d48e3e; */
        /* height: 850px; 
              width: 900px;  */
        border-radius: 60px;
        margin-top: 1.5%;
        position: absolute;
        z-index: 2;
        padding: 10px 70px;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 700px;
      }
      .header {
        display: flex;
        gap: 100px;
      }
      textarea {
        margin-left: 220px;
        border: solid 2px;
        border-radius: 20px;
        width: 150%;
        height: 100%;
        margin-top: 90px;
      }
      h1 {
        font-size: xx-large;
        margin-top: 10%;
        margin-left: 160px;
      }
      button {
        border-radius: 30px;
        font-size: 20px;
        margin-left: 150px;
        text-align: center;
        background-color: #94503d;
        color: white;
        border: none;
        padding: 0px 0px;
        width: 200px;
        margin-top: 150px;
        height: 20px;
        align-self: center;
      }
      ::placeholder {
        text-align: center;
      }
      table {
        width: 5%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      #result {
        flex: 1;
        overflow: auto;
      }
      
      .container {
        /* display: block; */
        /* justify-content: center; */
        /* flex-direction: row; */
      }
      .text span {
        color: #f6a224;
      }
      
      .text p {
        font-size: large;
        color: white;
        font-weight: bolder;
        /* margin-left: 2px; */
      }
      .text {
        /* margin-top: 300px; */
        /* background-color: rgba(0, 0, 0, 0.4); */
        /* color: white; */
        /* font-weight: bold; */
        /* position: absolute; */
        /* transform: translate(-60%, -25%); */
        /* z-index: 2; */
        /* width: 400px; */
        /* height: 200px; */
        /* padding: 20px; */
        /* text-align: center; */
        margin-left: 50px;
        width: 80%;
      }
      #logo{
        width: 200px;
        height: 130px;
        margin-top: 50px;
        margin-left: 60px;
      }
      .logo {
        margin-top: 100px;
        margin-top: 180px;
        margin-left: 0px;
      }
      
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: start;
        width: 200px;
        height: 50px;
        padding: 0px 0px;
        background-color: #94503d;
        border: none;
        font-size:-large;
        border-radius: 20px;
        margin-left: 0px;
      } 
      #btn{
        width: 150px;
        height: 50px;
        /* margin-top: 300px; */
       text-align: center;
       margin-left: 100px; 
       margin-top: 400px;    
 }

#calculateArea{
  width: 100%;
  height: 500px;
}
    
}
@media screen and (min-width:681px) and (max-width:880px){

  body {
    background-image: url("/images/pancakesandStrawberries.avif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 1000px;
    background-position: center;
    /* background-color: rgba(112, 90, 90, 0.2); */
  }
   



  
   
      #content {

        
        /* background-color: #d48e3e; */
        /* height: 850px; 
              width: 900px;  */
        border-radius: 60px;
        margin-top: 1.5%;
        position: absolute;
        z-index: 2;
        padding: 10px 70px;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 700px;
      }
      .header {
        display: flex;
        gap: 100px;
      }
      textarea {
        margin-left: 0px;
        border: solid 2px;
        border-radius: 20px;
        width: 100%;
        height: 100%;

      }
      h1 {
        font-size: 40px;
        margin-top: 6%;
      }
      button {
        border-radius: 30px;
        font-size: xxx-large;
        margin-top: 0px;
        text-align: center;
        background-color: #94503d;
        color: white;
        border: none;
        padding: 0px 0px;
        width: 250px;
        margin-top: 200px;
        height: 90px;
        align-self: center;
      }
      ::placeholder {
        text-align: center;
      }
      table {
        width: 5%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      #result {
        flex: 1;
        overflow: auto;
      }
      
      .container {
        /* display: block; */
        /* justify-content: center; */
        /* flex-direction: row; */
      }
      .text span {
        color: #f6a224;
      }
      
      .text p {
        font-size: large;
        color: white;
        font-weight: bolder;
        /* margin-left: 2px; */
      }
      .text {
        /* margin-top: 300px; */
        /* background-color: rgba(0, 0, 0, 0.4); */
        /* color: white; */
        /* font-weight: bold; */
        /* position: absolute; */
        /* transform: translate(-60%, -25%); */
        /* z-index: 2; */
        /* width: 400px; */
        /* height: 200px; */
        /* padding: 20px; */
        /* text-align: center; */
        margin-left: 50px;
        width: 80%;
      }
      #logo{
        width: 200px;
        height: 130px;
        margin-top: 50px;
        margin-left: 60px;
      }
      .logo {
        margin-top: 100px;
        margin-top: 180px;
        margin-left: 0px;
      }
      
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: start;
        width: 200px;
        height: 50px;
        padding: 0px 0px;
        background-color: #94503d;
        border: none;
        font-size:-large;
        border-radius: 20px;
        margin-left: 0px;
      } 
      #btn{
        width: 150px;
        height: 50px;
        /* margin-top: 300px; */
       text-align: center;
       margin-left: 100px; 
       margin-top: 400px;    
 }

#calculateArea{
  width: 100%;
  height: 500px;
}

}




@media screen and (min-width:881px) and (max-width:1024px){

  body {
    background-image: url("/images/pancakesandStrawberries.avif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
    background-position: center;
    /* background-color: rgba(112, 90, 90, 0.2); */
  }
   



  
   
      #content {

        
        /* background-color: #d48e3e; */
        /* height: 850px; 
              width: 900px;  */
        border-radius: 60px;
        margin-top: 1.5%;
        position: absolute;
        z-index: 2;
        padding: 10px 70px;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 600px;
      }
      .header {
        display: flex;
        gap: 100px;
      }
      textarea {
        margin-left: 350px;
        border: solid 2px;
        border-radius: 20px;
        width: 170%;
        height: 100%;
        margin-top: -25px;
      }
      h1 {
        font-size: 40px;
        margin-top: 10%;
        margin-left: 300px;
      }
      button {
        border-radius: 30px;
        font-size: 30px;
        margin-left: 400px;
        text-align: center;
        background-color: #94503d;
        color: white;
        border: none;
        padding: 0px 0px;
        width: 300px;
        margin-top: -8px;
        height: 70px;
        align-self: center;
      }
      ::placeholder {
        text-align: center;
      }
      table {
        width: 5%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      #result {
        flex: 1;
        overflow: auto;
      }
      
      .container {
        /* display: block; */
        /* justify-content: center; */
        /* flex-direction: row; */
      }
      .text span {
        color: #f6a224;
      }
      
      .text p {
        font-size: large;
        color: white;
        font-weight: bolder;
        /* margin-left: 2px; */
      }
      .text {
        /* margin-top: 300px; */
        /* background-color: rgba(0, 0, 0, 0.4); */
        /* color: white; */
        /* font-weight: bold; */
        /* position: absolute; */
        /* transform: translate(-60%, -25%); */
        /* z-index: 2; */
        /* width: 400px; */
        /* height: 200px; */
        /* padding: 20px; */
        /* text-align: center; */
        margin-left: 50px;
        width: 80%;
      }
      #logo{
        width: 200px;
        height: 130px;
        margin-top: 50px;
        margin-left: 60px;
      }
      .logo {
        margin-top: 100px;
        margin-top: 180px;
        margin-left: 0px;
      }
      
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: start;
        width: 200px;
        height: 50px;
        padding: 0px 0px;
        background-color: #94503d;
        border: none;
        font-size:-large;
        border-radius: 20px;
        margin-left: 0px;
      } 
      #btn{
        width: 150px;
        height: 50px;
        /* margin-top: 300px; */
       text-align: center;
       margin-left: 100px; 
       margin-top: 400px;    
 }

#calculateArea{
  width: 100%;
  height: 500px;
}

}









@media screen and (min-width:1025px) and (max-width:1300px){

  body {
    background-image: url("/images/pancakesandStrawberries.avif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
    background-position: center;
    /* background-color: rgba(112, 90, 90, 0.2); */
  }
   



  
   
      #content {

        
        /* background-color: #d48e3e; */
        /* height: 850px; 
              width: 900px;  */
        border-radius: 60px;
        margin-top: 1.5%;
        position: absolute;
        z-index: 2;
        padding: 10px 70px;
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 700px;
      }
      .header {
        display: flex;
        gap: 100px;
      }
      textarea {
        margin-left: 550px;
        border: solid 2px;
        border-radius: 20px;
        width: 150%;
        height: 100%;
        margin-top: 100px;
      }
      h1 {
        font-size: 50px;
        margin-top: 10%;
        margin-left: 470px;
      }
      button {
        border-radius: 30px;
        font-size: 50px;
        margin-left: 500px;
        text-align: center;
        background-color: #94503d;
        color: white;
        border: none;
        padding: 0px 0px;
        width: 290px;
        /* margin-top: 350px; */
        height: 90px;
        align-self: center;
      }
      ::placeholder {
        text-align: center;
      }
      table {
        width: 5%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      #result {
        flex: 1;
        overflow: auto;
      }
      
      .container {
        /* display: block; */
        /* justify-content: center; */
        /* flex-direction: row; */
      }
      .text span {
        color: #f6a224;
      }
      
      .text p {
        font-size: large;
        color: white;
        font-weight: bolder;
        /* margin-left: 2px; */
      }
      .text {
        /* margin-top: 300px; */
        /* background-color: rgba(0, 0, 0, 0.4); */
        /* color: white; */
        /* font-weight: bold; */
        /* position: absolute; */
        /* transform: translate(-60%, -25%); */
        /* z-index: 2; */
        /* width: 400px; */
        /* height: 200px; */
        /* padding: 20px; */
        /* text-align: center; */
        margin-left: 50px;
        width: 80%;
      }
      #logo{
        width: 200px;
        height: 130px;
        margin-top: 50px;
        margin-left: 60px;
      }
      .logo {
        margin-top: 100px;
        margin-top: 180px;
        margin-left: 0px;
      }
      
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: start;
        width: 200px;
        height: 50px;
        padding: 0px 0px;
        background-color: #94503d;
        border: none;
        font-size:-large;
        border-radius: 20px;
        margin-left: 0px;
      } 
      #btn{
        width: 150px;
        height: 50px;
        /* margin-top: 300px; */
       text-align: center;
       margin-left: 100px; 
       margin-top: 400px;    
 }

#calculateArea{
  width: 100%;
  height: 500px;
}

}

